/*
---- COLORS ----
- Primary: #0B3177
- Tints: #0F44A7, #1459D9, #3777EC, #6999F1, #9BBBF6
- Shades: #092964, #082253, #061B43, #051532, #030E21
- Accents:

- Greys:

- Complementary: #75500B
- Tints: #A7720F, #D99414,#ECAD37, #F3CC82
- Shades: #644409, #533908, #432D06, #322205

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  /* NOT WORK ON SAFARI/EDGE (as of OCT 2021) */
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;

  font-family: 'Rubik', sans-serif;
  color: #555;
}

/************************/
/* REUSABLE COMPONENTS */
/***********************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container-wide {
  max-width: 130rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.primary-heading {
  font-size: 8rem;
  font-weight: 700;
}

.secondary-heading {
  font-size: 4.8rem;
}

.tertiary-heading {
  font-size: 3.2rem;
}

.btn {
  /* For normal btn only */
  border: none;

  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #f0b038;
  color: #092964;
  font-weight: 500;
  text-decoration: none;
}

/******************/
/* HELPER CLASSES */
/******************/

.margin-bottom {
  margin-bottom: 9.6rem;
}

.hidden {
  display: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
