/* 1600px */
@media (max-width: 100em) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
  }

  .card-container {
    width: 90%;
    justify-self: center;
  }
}

/* 1378px */
@media (max-width: 87em) {
  .card-container {
    width: 100%;
  }
}

/* 1024px */
@media (max-width: 64em) {
  .card-container {
    width: 100%;
    height: 35rem;
  }

  .card-heading {
    font-size: 2.8rem;
  }

  .github-links {
    margin-top: 3rem;
  }

  .card-github-icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  .github-link {
    font-size: 1.2rem;
  }
}

/* 768px */
@media (max-width: 48em) {
  html {
    font-size: 56%;
  }
  .section-portfolio,
  .section-technologies {
    padding-top: 4.8rem;
  }

  .secondary-heading {
    margin-bottom: 3.6rem;
  }
  .technologies-btn {
    margin: 10rem auto;
  }
  .section-hero::after {
    display: none;
  }

  .carousel {
    height: 35rem;
  }

  .slide-icon,
  .icon-bg,
  .icon-vbg {
    width: 7.6rem;
    height: 7.6rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .card-container {
    width: 90%;
    height: 40rem;
  }

  .card-github-icon {
    width: 4.8rem;
    height: 4.8rem;
  }

  /* MOBILE NAVIGATION */
  .main-nav {
    display: none;
  }

  .mobile-nav {
    position: absolute;
    width: 28rem;
    padding-top: 2rem;
    /* height: 20rem; */

    top: 7rem;
    right: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }

  .mobile-menu-icon {
    display: block;
    background-color: transparent;
    border: none;
    z-index: 100;

    font-size: 7.2rem;
    margin-right: 3rem;
    color: #f0b038;
  }

  .icon-mobile-nav {
    position: absolute;
    top: 1rem;
    right: 3rem;
    cursor: pointer;
  }

  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .mb-nav-item {
    list-style: none;
    border: 1px solid black;
    width: 100%;
    height: 6rem;
    background-color: #fff;
    z-index: 99;
  }

  .mb-nav-item:last-child {
    background-color: #ecad37;
  }

  .mb-nav-link,
  .mb-nav-link:active,
  .mb-nav-link:visited {
    color: #322205;
    font-weight: 700;
    width: 100%;
    padding: 1.2rem 2.4rem;
    text-decoration: none;
    font-size: 3.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mb-nav-link:hover,
  .mb-nav-link:active {
    opacity: 0.7;
  }

  .hidden {
    display: none;
  }
}

/* 400px HEIGHT */
@media (max-height: 25em) {
  html {
    font-size: 46%;
  }
  .hero {
    height: auto;
    padding-bottom: 2rem;
    padding-top: 5rem;
  }
  .section-hero::after {
    display: none;
  }
  .icon-mobile-nav {
    top: 0.2rem;
    right: 0.5rem;
  }
  .section-technologies {
    padding-top: 4rem;
  }
  .secondary-heading {
    margin-bottom: 2rem;
  }
  .technologies-btn {
    margin: 7rem auto;
  }
  .mobile-menu-icon {
    font-size: 6rem;
  }
}

/* 448PX */
@media (max-width: 28em) {
  html {
    font-size: 50%;
  }
  .hero-text {
    text-align: center;
  }

  .smoky-title li {
    font-size: 7rem;
    margin-bottom: 1rem;
  }
  .github-links {
    margin-top: 1rem;
  }
  .project-content-text {
    display: none;
  }
  .carousel {
    width: 80%;
    height: 32rem;
  }
  .languages-icons {
    row-gap: 4rem;
  }
  .carousel-button--left {
    left: -4rem;
    z-index: 50;
  }

  .carousel-button--right {
    right: -4rem;
  }

  .slide-icon {
    width: 6.8rem;
    height: 6.8rem;
  }

  .secondary-heading {
    margin-bottom: 3rem;
  }

  .btn-technologies {
    margin: 8rem auto;
  }

  .card-container {
    width: 100%;
    height: 30rem;
  }

  .card-heading {
    font-size: 2.4rem;
  }

  .card-back-text {
    line-height: 1.2;
    font-size: 1.4rem;
  }

  .github-link-text {
    margin-top: 0.4rem;
  }
}
