/***************/
/* HEADER + NAV*/
/***************/

.header {
  background: rgb(9, 41, 100);
  background: linear-gradient(
    90deg,
    rgba(9, 41, 100, 1) 25%,
    rgba(4, 52, 140, 1) 95%
  );

  height: 10vh;

  display: flex;
  align-items: center;
  /* padding-top: 1rem; */
}

.cta-btn-box {
  margin-left: auto;
}

.main-nav {
  width: 100%;

  padding: 0 3.6rem;
  display: flex;
  justify-content: space-between;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;

  width: 17rem;
  text-align: center;
  padding: 1.2rem 2.4rem;
  border: 1px solid #f0b038;
  border-radius: 9px;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  background-color: #f0b038;
  color: #092964;
}

.cta-btn:link,
.cta-btn:visited {
  background-color: #f0b038;
  margin-left: auto;
  color: #092964;
}

.cta-btn:hover,
.cta-btn:active {
  background-color: transparent;
  margin-left: auto;
  color: #fff;
}

/***************/
/* HERO SECTION */
/***************/
.section-hero {
  background: rgb(9, 41, 100);
  background: linear-gradient(
    90deg,
    rgba(9, 41, 100, 1) 25%,
    rgba(4, 52, 140, 1) 95%
  );

  display: flex;
}

.hero {
  margin: 0 auto;
  max-width: 130rem;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

/* .hero-title {
  margin-bottom: 1.6rem;
  color: #fff;
} */

/* HERO TITLE --- SMOKY TEXT */

.smoky-title {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 1rem;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.smoky-title li {
  list-style: none;
  color: white;
  font-size: 8rem;
  font-weight: 700;
  transition: 2s;
}

.smoky-title:hover li {
  transform: rotate(45deg) translateY(-20rem);
  opacity: 0;
  filter: blur(2rem);
}

.smoky-title li:nth-child(1) {
  transition-delay: 0;
}
.smoky-title li:nth-child(2) {
  transition-delay: 0.1s;
}
.smoky-title li:nth-child(3) {
  transition-delay: 0.2s;
}
.smoky-title li:nth-child(4) {
  transition-delay: 0.3s;
}
.smoky-title li:nth-child(5) {
  transition-delay: 0.4s;
}
.smoky-title li:nth-child(6) {
  transition-delay: 0.5s;
}
.smoky-title li:nth-child(7) {
  transition-delay: 0.6s;
}
.smoky-title li:nth-child(8) {
  transition-delay: 0.7s;
}
.smoky-title li:nth-child(9) {
  transition-delay: 0.8s;
}
.smoky-title li:nth-child(10) {
  transition-delay: 0.9s;
}

.smoky-title::before {
  content: 'Bem-vindo!';
  position: absolute;
  font-size: 6rem;
  color: white;
  font-weight: 700;
  transition: 2s;
  width: 100%;
  text-align: center;
  transform: translateX(-100%);
  filter: blur(2rem);
  transition: 2s;
  opacity: 0;
}

.smoky-title:hover::before {
  transform: translateX(0);
  transition-delay: 0.6s;
  filter: blur(0);
  opacity: 1;
}

.hero-text {
  color: #999;
  font-size: 2.4rem;
  margin-bottom: 3.6rem;
}

.hero-icons {
  display: flex;
  gap: 10rem;
  padding: 2.4rem;
  border-radius: 11px;
}

.hero-icons a {
  text-decoration: none;
  color: #fff;
}

.hero-icon {
  height: 3.6rem;
  width: 3.6rem;

  transition: all 0.3s;
}

.hero-icon:hover {
  transform: scale(1.5);
}

.hero-btn {
  font-size: 1.6rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;

  cursor: pointer;

  transition: all 0.3s;
}

.hero-btn:hover {
  background-color: transparent;
  color: #fff;
}

.hero-btn-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* TEMPORARY - SITE UNDER CONSTRUCTION NOTICE */
.section-hero::after {
  content: '* Site em Construção';
  position: absolute;

  color: #fff;
  font-size: 1.6rem;

  bottom: 5rem;
  right: 5rem;
}

/************************/
/* TECHNOLOGIES SECTION */
/***********************/

.section-technologies {
  /* background-color: #9BBBF6; */
  background-color: #fff;
  padding-top: 9.6rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-wide {
  width: 130rem;
  /* margin: 0 auto; */
}

.technologies-card {
  background-color: #fdf5e6;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;

  text-align: center;
}

.technologies-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.3);
}

.techs-heading {
  /* color: #0B3177; */
  color: #092964;
  text-align: center;
  margin-bottom: 6.4rem;
}

/************************************/
/*********** CAROUSEL **************/
/************************************/

.carousel {
  position: relative;
  height: 40rem;
  width: 60%;
  margin: 0 auto;
}

.slide-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #e3ecfc;
  border-radius: 11px;

  /* box-shadow: inset 0 0 0 3px rgba(0,0,0, 0.1); */
}

.carousel-track-container {
  height: 100%;
  position: relative;

  /* padding-top: 3rem; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  /* ADD OVERFLOW HIDDEN LATER */
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;

  position: relative;
  height: 100%;
  transition: transform 0.3s ease-in;
}

.slide-icon {
  width: 8.4rem;
  height: 8.4rem;

  transition: all 0.3s;
}

.icon-bg {
  width: 9.6rem;
  height: 9.6rem;
}

.icon-vbg {
  width: 10.8rem;
  height: 10.8rem;
}

.slide-icon:hover {
  transform: scale(1.2);
}

.black-img {
  filter: brightness(0.1);
}

.slide-title {
  text-align: center;
  margin: 0rem 0 3rem 0;
  padding: 2.5rem 0;
  background-color: rgba(4, 52, 140, 0.6);
  color: #fff;
  border-radius: 11px 11px 0 0;
  font-weight: 700;
}

.languages-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 6rem;

  justify-items: center;
}

.back-end {
  row-gap: 3rem;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  cursor: pointer;

  transition: all 0.4s;
}

.carousel-button:hover {
  color: #0f44a7;
}
.carousel-button--left {
  left: -4rem;
}

.carousel-button--right {
  right: -4rem;
}

.carousel-button ion-icon {
  font-size: 3.6rem;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel-indicator.current-slide {
  background-color: rgba(0, 0, 0, 0.75);
}

.is-hidden {
  display: none;
}

.grid-center {
  grid-column: 2;
}

/* END OF CAROUSEL */

.technologies-btn {
  margin: 15rem auto 5rem auto;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;

  display: grid;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.technologies-btn ion-icon {
  color: #092964;
  transition: all 0.4s;
}

.technologies-btn:hover {
  background-color: #092964;
}

.technologies-btn:hover ion-icon {
  color: #fff;
}

/* TESTING */
