/***************/
/* HEADER + NAV*/
/***************/

.header {
  background: rgb(9, 41, 100);
  background: linear-gradient(
    90deg,
    rgba(9, 41, 100, 1) 25%,
    rgba(4, 52, 140, 1) 95%
  );

  height: 10vh;
  display: flex;
  align-items: center;
  padding-top: 3rem;
}

.cta-btn-box {
  margin-left: auto;
}

.main-nav {
  padding: 0 3.6rem;
  width: 100%;
}

.main-nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;

  width: 17rem;
  text-align: center;
  padding: 1.2rem 2.4rem;
  border: 1px solid #f0b038;
  border-radius: 9px;

  transition: all 0.3s;
}

.nav-item:nth-child(2) {
  margin-right: auto;
}

.main-nav-link:hover,
.main-nav-link:active {
  background-color: #f0b038;
  color: #092964;
}

.mobile-menu-icon {
  display: none;
}

.cta-btn,
.cta-btn:link,
.cta-btn:visited {
  background-color: #f0b038;
  color: #092964;
  margin-left: auto;
}

.cta-btn:hover,
.cta-btn:active {
  background-color: transparent;
  color: #fff;
}

.main-nav-link:last-child {
  margin-left: auto;
}

.mobile-nav {
  display: none;
}

/***************/
/* HERO SECTION */
/***************/
.section-hero {
  background: rgb(9, 41, 100);
  background: linear-gradient(
    90deg,
    rgba(9, 41, 100, 1) 25%,
    rgba(4, 52, 140, 1) 95%
  );

  display: flex;
  justify-content: center;
}

.hero {
  /* margin: 0 auto; */
  max-width: 130rem;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

/* .hero-title {
  margin-bottom: 1.6rem;
  color: #fff;
} */

/* HERO TITLE --- SMOKY TEXT */

.smoky-title {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 1rem;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.smoky-title li {
  list-style: none;
  color: white;
  font-size: 8rem;
  font-weight: 700;
  transition: 2s;
}

.smoky-title:hover li {
  transform: rotate(45deg) translateY(-20rem);
  opacity: 0;
  filter: blur(2rem);
}

.smoky-title li:nth-child(1) {
  transition-delay: 0;
}
.smoky-title li:nth-child(2) {
  transition-delay: 0.1s;
}
.smoky-title li:nth-child(3) {
  transition-delay: 0.2s;
}
.smoky-title li:nth-child(4) {
  transition-delay: 0.3s;
}
.smoky-title li:nth-child(5) {
  transition-delay: 0.4s;
}
.smoky-title li:nth-child(6) {
  transition-delay: 0.5s;
}
.smoky-title li:nth-child(7) {
  transition-delay: 0.6s;
}
.smoky-title li:nth-child(8) {
  transition-delay: 0.7s;
}
.smoky-title li:nth-child(9) {
  transition-delay: 0.8s;
}
.smoky-title li:nth-child(10) {
  transition-delay: 0.9s;
}

.smoky-title::before {
  content: 'Bem-vindo!';
  position: absolute;
  font-size: 6rem;
  color: white;
  font-weight: 700;
  transition: 2s;
  width: 100%;
  text-align: center;
  transform: translateX(-100%);
  filter: blur(2rem);
  transition: 2s;
  opacity: 0;
}

.smoky-title:hover::before {
  transform: translateX(0);
  transition-delay: 0.6s;
  filter: blur(0);
  opacity: 1;
}

.hero-text {
  color: #999;
  font-size: 2.4rem;
  margin-bottom: 3.6rem;
  text-align: center;
}

.hero-icons {
  display: flex;
  gap: 10rem;
  padding: 2.4rem;
  border-radius: 11px;
}

.hero-icons a {
  text-decoration: none;
  color: #fff;
}

.hero-icon {
  height: 3.6rem;
  width: 3.6rem;

  transition: all 0.3s;
}

.hero-icon:hover {
  transform: scale(1.5);
}

.hero-btn {
  font-size: 1.6rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;

  cursor: pointer;

  transition: all 0.3s;
}

.hero-btn:hover {
  background-color: transparent;
  color: #fff;
}

.hero-btn-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* TEMPORARY - SITE UNDER CONSTRUCTION NOTICE */
.section-hero::after {
  content: '* Site em Construção';
  position: absolute;

  color: #fff;
  font-size: 1.6rem;

  bottom: 5rem;
  right: 5rem;
}

/************************/
/* TECHNOLOGIES SECTION */
/***********************/

.section-technologies {
  /* background-color: #9BBBF6; */
  background-color: #fff;
  padding-top: 9.6rem;
  /* max-height: 100vh; */
}

.technologies-card {
  background-color: #fdf5e6;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  /* border-radius: 11px; */
  overflow: hidden;

  text-align: center;
}

.technologies-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.3);
}

.techs-heading {
  /* color: #0B3177; */
  /* color: #092964; */
  color: #092964;

  text-align: center;
  margin-bottom: 9.6rem;
  position: relative;
}

/************************************/
/*********** CAROUSEL **************/
/************************************/

.carousel {
  position: relative;
  height: 40rem;
  width: 70%;
  margin: 0 auto;

  position: relative;
}

.slide-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #e3ecfc;
  /* border-radius: 11px; */

  /* box-shadow: inset 0 0 0 3px rgba(0,0,0, 0.1); */
}

.carousel-track-container {
  height: 100%;
  position: relative;

  /* padding-top: 3rem; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  /* border-radius: 11px; */
  /* ADD OVERFLOW HIDDEN LATER */
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;

  position: relative;
  height: 100%;
  transition: transform 0.3s ease-in;
}

.slide-icon {
  width: 8.4rem;
  height: 8.4rem;

  transition: all 0.3s;
}

.icon-bg {
  width: 9.6rem;
  height: 9.6rem;
}

.icon-vbg {
  width: 10.8rem;
  height: 10.8rem;
}

.slide-icon:hover {
  transform: scale(1.2);
}

.black-img {
  filter: brightness(0.1);
}

.slide-title {
  text-align: center;
  margin: 0rem 0 3rem 0;
  padding: 2.5rem 0;
  background-color: rgba(4, 52, 140, 0.8);
  color: #fff;
  /* border-radius: 11px 11px 0 0; */
  font-weight: 700;
}

.languages-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 6rem;

  justify-items: center;
}

.back-end {
  row-gap: 3rem;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  cursor: pointer;

  transition: all 0.4s;
}

.carousel-button:hover {
  color: #0f44a7;
}
.carousel-button--left {
  left: -4rem;
}

.carousel-button--right {
  right: -4rem;
}

.carousel-button ion-icon {
  font-size: 3.6rem;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel-indicator.current-slide {
  background-color: rgba(0, 0, 0, 0.75);
}

.is-hidden {
  display: none;
}

.grid-center {
  grid-column: 2;
}

/* END OF CAROUSEL */

.technologies-btn {
  margin: 15rem auto 5rem auto;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;

  display: grid;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.technologies-btn ion-icon {
  color: #092964;
  transition: all 0.4s;
}

.technologies-btn:hover {
  background-color: #092964;
}

.technologies-btn:hover ion-icon {
  color: #fff;
}

/******************/
/* PORTFOLIO SECTION */
/******************/

.section-portfolio {
  /* background-color: #9bbbf6; */
  background-color: #092964;
  /* height: 100vh; */
  min-height: 100rem;
  padding-top: 9.6rem;

  /* text-align: center; */
}

.projects-grid {
  /* height: ; */
  margin: 0 2rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}

.portfolio-heading {
  /* color: #092964; */
  text-align: center;
  color: #9bbbf6;
}

.portfolio-container {
  margin: 2rem 2rem;
}

.project-card {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: transparent;
  box-shadow: 0 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  transition: all 0.5s;
}

.project-img img {
  display: block;
  max-width: 100%;
  /* height: 300px; */

  /* height: 100%; */
  object-fit: sca;
  border-radius: 8px;
  /* overflow: hidden; */
  /* opacity: 1; */
  transition: all 0.5s;
}

.project-content {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-color: rgb(11, 49, 119); */
  /* background-color: #092964; */
  background-color: #fff;

  border-radius: 0.8rem 0.8rem 0 0;
  text-align: center;

  position: absolute;
  width: 70%;
  bottom: 0px;
  height: 8rem;
  left: 15%;
  /* color: #fff; */
  color: #333;

  transition: all 1s;

  border: 1px solid black;
}

.card-header {
  /* padding: 3.6rem; */
  text-align: center;
  font-size: 2.8rem;
  margin-top: 2.4rem;
  margin-bottom: 3.6rem;
  color: #092964;
  font-weight: 700;
  letter-spacing: 0.75px;
}

.project-content-text--shortened {
  display: none;
}

.project-content-text {
  display: inline-block;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.6;

  transition: 1s;
  opacity: 0;
}

/* TAGS */

.tech-tags {
  margin: 2.2rem auto 1.2rem auto;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  opacity: 0;

  transition: all 1s;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--html {
  background-color: orangered;
  color: white;
}

.tag--css {
  background-color: blue;
  color: white;
}

.tag--javascript {
  background-color: yellow;
}

.github-links {
  margin-top: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  opacity: 0;
}

.card-github-icon {
  width: 3.6rem;
  height: 3.6rem;
}

.github-link {
  text-decoration: none;
  color: #333;
}

.github-link:hover {
  transform: scale(1.1);
}

.project-card:hover {
  overflow: visible;
  transition-delay: 1s;
  transition: 0.5s;
}

.project-card:hover .project-content {
  height: 100%;
  width: 100%;
  left: 0;
  border-radius: 0.8;
  /* background-color: #fff; */

  transition: all 1s;
  text-align: center;
}

.project-card:hover .project-img img {
  /* opacity: 0; */
  /* box-shadow: 0 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: all 0.7s;
  transition-delay: 0.5s; */
}

.project-card:hover .tech-tags,
.project-card:hover .project-content-text,
.project-card:hover .github-links {
  text-align: center;
  opacity: 1;
  transition-delay: 0.5s;
}
